@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
    font-family: Outfit, sans-serif;
    background: black;
    margin: 0;
}

nav {
    height: 7vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid white;
    top: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2vh;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#khibra {
    background: hsl(0, 0%, 100%);
    color: black;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color .5s, color .5s;
}

#khibra:hover{
    border: 1px solid white;
    background: black;
    color: white;
}

main {
    color: white;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 65%;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content img {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    padding: 2%;
}

@media  (min-width: 1450px) {
    .content h1, .content h2 , .content p , .content button{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media  (max-width: 950px) {
    .content {
        padding: 2%;
    }
    .content h1 {
        margin-top: 10%;
    }
}

.content h1 {
    font-size: 70px;
}

.content h2 {
    font-size: 40px;
}

.content p {
    font-size: 18px;
}

@media  (max-width: 675px) {
    .content {
        padding: 2%;
    }

    .content h1 {
        margin-top: 20%;
        font-size: 50px;
    }

    .content h2 {
        font-size: 35px;
    }
}
.content button {
    font-size: 15px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
    width: 250px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    text-align: center;
    transition: background-color .5s;
    cursor: pointer;
    border: 1px solid white;
}

.content button:hover {
    background: white;
    color: black;
}

.buy , .stats, .contract, .audit {
    padding: 20px;
}

@media  (min-width: 1450px) {
    .buy, .stats, .audit, .contract {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.buy h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.buy p {
    font-size: 30px;
    margin-top: 0;
}

.buy img {
    background: rgba(128, 128, 128, 0.2);
    padding: 30px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    transition: width .5s, height .5s, background-color .5s;
}

.buy img:hover {
    width: 220px;
    height: 60px;
    background: black;
}

.stats h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.stats div {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 1100px) {
    .stats div {
        flex-direction: column;
        width: 90%;
    }
}

.stats div p {
    background: rgba(128, 128, 128, 0.2);
    padding: 20px 30px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
}

.fix {
    margin-right: 20px;
}

.audit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audit div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    border: 2px dashed white;
    border-radius: 10px;
    background: transparent;
    gap: 60px;
    font-size: 25px;
}

.audit button {
    width: 150px;
    height: 60px;
    background: rgba(128, 128, 128, 0.2);
    color: white;
    border-radius: 10px;
    border: 1px solid ;
    font-size: 18px;
    font-family: Outfit, sans-serif;
    cursor: pointer;
    transition: background-color .5s;
}

.audit button:hover {
    background: white;
    color: black;
    font-weight: 700;
}

.contract h1{
    font-size: 60px;
    margin-bottom: 0;
}
